@page
@model UserStoryBoard.Pages.SwotAnalyse.SwotAnalyseModel
@{

    <h1>SWOT Analyse</h1>
    <div class="jumbotron">
        <div class="container">
            <form method="post">
                <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 style="text-align: center">Interne Forhold</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"><h4 style="text-align: center">Strenghts (Styrker)</h4></div>
                            <div class="col-lg-6"><h4 style="text-align: center">Weaknesses (Svagheder)</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Comment"></label>
                                    <textarea class="form-control" row="6" id="Comment" style="height: 190px"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Comment"></label>
                                    <textarea class="form-control" row="6" id="Comment" style="height: 190px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 style="text-align: center">Eksterne forhold</h3></div>hej
                        </div>
                        <div class="row">
                            <div class="col-lg-6"><h4 style="text-align: center">Opportunity (Muligheder)</h4></div>
                            <div class="col-lg-6"><h4 style="text-align: center">Threats (Trusler)</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Comment"></label>
                                    <textarea class="form-control" row="6" id="Comment" style="height: 190px"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Comment"></label>
                                    <textarea class="form-control" row="6" id="Comment" style="height: 190px"></textarea>
                                </div>
                            </div>
                        </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <h3 style="text-align: center">Definition area</h3>
                            <div class="form-group">
                                <label for="Comment"></label>
                                <textarea class="form-control" row="12" id="Comment" style="height: 190px"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Submit" class="submit" />
                    </div>
                    
                </fieldset>
            </form>


        </div>
    </div>
}
