@page "{id:int}/{boardId:int}" 
@model UserStoryBoard.Pages.DeleteUserStoryModel
@{
}
<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete the UserStory - @Model.UserStory.Name</h5>
    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.UserStory.Id" class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">
            Yes
        </button>
        <a class="btn btn-primary" asp-page="../Boards/KanbanBoard" asp-route-id="@Model.UserStory.BoardId">
            No
        </a>
    </form>
</div>
