@page
@model UserStoryBoard.Pages.InceptionDecks.ElevatorPitchModel
@{
    <h1>Elevator Pitch</h1>
    <div class="jumbotron">
        <div class="container">
            
            
            <img src="~/Images/elevator pitch.jpg" width="302" height="228"/>
            
            
            <div class="form-group">
                <label for="Comment">Elevator Pitch:</label>
                <textarea class="form-control" row="6" id="Comment"></textarea>
            </div>
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
    </div>
}
