@page
@model UserStoryBoard.Pages.InceptionDecks.ElevatorPitchModel
@{
    <h1>Elevator Pitch</h1>
    <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
}
