@page
@model UserStoryBoard.Pages.InceptionDecks.InceptionsDeckModel
@{
    <h1>Inception Deck</h1>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">LAMP is glowing</button></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Why we are here?</button></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Elevator pitch</button></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Productbox</button></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Not List</button></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Meet the neighbors</button></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Show Solution</button></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">Up at Night</button></div>
                <div class="col-sm-3"><a href="/TimeLine/TimeLine" style="width: 100%" class="btn btn-info" role="button">Size Me Up</a>
                    @*<button type="button" style="width: 100%" class="btn btn-primary">Size Me Up</button>*@
                </div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">What's going to give</button></div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><button type="button" style="width: 100%" class="btn btn-primary">What's going to take</button></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>


}
