@page
@model UserStoryBoard.Pages.InceptionDecks.InceptionsDeckModel
@{
    <h1>Inception Deck</h1>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center"><h2 style="width: 100%">Inception Deck</h2></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"><a href="/InceptionDecks/WhyAreWeHere" style="width: 100%" class="btn btn-info" role="button">Why Are We Here?</a></div>
                <div class="col-sm-4"><a href="/InceptionDecks/ElevatorPitch" style="width: 100%" class="btn btn-info" role="button">Elevator pitch</a></div>
                <div class="col-sm-4"><a href="/InceptionDecks/ProductBox" style="width: 100%" class="btn btn-info" role="button">Productbox</a></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><a href="/InceptionDecks/NotList" style="width: 100%" class="btn btn-info" role="button">Not List</a></div>
                <div class="col-sm-4"><a href="/InceptionDecks/MeetYourNeighbors" style="width: 100%" class="btn btn-info" role="button">Meet Your Neighbors</a></div>
                <div class="col-sm-4"><a href="/InceptionDecks/ShowSolution" style="width: 100%" class="btn btn-info" role="button">Show Solution</a></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><a href="/InceptionDecks/UpAtNight" style="width: 100%" class="btn btn-info" role="button">Up At Night</a></div>
                <div class="col-sm-4"><a href="/TimeLine/TimeLine" style="width: 100%" class="btn btn-info" role="button">Size Me Up</a></div>
                <div class="col-sm-4"><a href="/InceptionDecks/WhatsGoingToGive" style="width: 100%" class="btn btn-info" role="button">What's going To Give</a></div>
            </div>
                     
            <div class="row">      
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><a href="/InceptionDecks/WhatsGoingToTake" style="width: 100%" class="btn btn-info" role="button">What's Going To Take</a></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>


}
