@page
@model UserStoryBoard.Pages.InceptionDecks.MeetYourNeighborsModel
@{
    <h1>Meet Your Neighbors</h1>
    <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>

}
