@page
@model UserStoryBoard.Pages.InceptionDecks.NotListModel
@{
    <h1>Not List</h1>
    <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>

}
