@page
@model UserStoryBoard.Pages.InceptionDecks.NotListModel
@{
    <h1>Not List</h1>
    <div class="jumbotron">
        <div class="container">

            
            <img src="~/Images/not list.jpg" width="302" height="228"/>
            <br />
            
            <div class="row">
                <div class="col-lg-6"><h3 style="text-align: center">IN SCOPE</h3></div>
                <div class="col-lg-6"><h3 style="text-align: center">OUT OF SCOPE</h3></div>
            </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Comment"></label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Comment"></label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"><h3 style="text-align: center">UNRESOLVED</h3></div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Comment"></label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>

                </div>
            
            
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
    </div>

}
