@page
@model UserStoryBoard.Pages.InceptionDecks.ProductBoxModel
@{
    <h1>Product Box</h1>
    <div class="jumbotron">
        <div class="container">
            
            
            <img src="/Images/product box.jpg" width="302" height="228"/>
            
            
            <div class="form-group">
                <label for="Comment">Product Box:</label>
                <textarea class="form-control" row="6" id="Comment"></textarea>
            </div>
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
    </div>

}
