@page
@model UserStoryBoard.Pages.InceptionDecks.UpAtNightModel
@{
    <h1>Up At Night</h1>
    <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>

}
