@page
@model UserStoryBoard.Pages.InceptionDecks.UpAtNightModel
@{
    <h1>Up At Night</h1>
    <div class="jumbotron">
        <div class="container">
            
            
            <img src="/Images/keep you up at night.jpg" width="302" height="228"/>
            

            <div class="form-group">
                <label for="Comment">What Keeps You Up At Night?:</label>
                <textarea class="form-control" row="6" id="Comment"></textarea>
            </div>
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
    </div>

}
