@page
@model UserStoryBoard.Pages.InceptionDecks.WhatsGoingToTakeModel
@{
    <h1>What's Going To Take</h1>
    <div class="jumbotron">
        <div class="container">


            <img src="~/Images/whats going to take.png" width="302" height="228" />
            <br />
            <div class="form-group">
                <label for="Comment">Why are we here?:</label>
                <textarea class="form-control" row="6" id="comment"></textarea>
            </div>
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
    </div>

}
