@page
@model UserStoryBoard.Pages.InceptionDecks.WhatsGoingToGiveModel
@{
    <h1>What's Going To Give</h1>
    <div class="jumbotron">
        <div class="container">
            
            
            <img src="/Images/What's going to give.png" width="302" height="228"/>
            

            <div class="form-group">
                <label for="Comment">What's Going To Give?:</label>
                <textarea class="form-control" row="6" id="Comment"></textarea>
            </div>
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>
    </div>

}
