@page
@model UserStoryBoard.Pages.InceptionDecks.WhatsGoingToGiveModel
@{
    <h1>What's Going To Give</h1>
    <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>

}
