@page
@model UserStoryBoard.Pages.InceptionDecks.WhyAreWeHereModel
@{

    <h1>Why are we here?</h1>
    <div class="jumbotron">
        <div class="container">
            <div class="form-group">
                <label for="Comment">Why are we here?:</label>
                <textarea class="form-control" row="6" id="comment"></textarea>
            </div>
        </div>
        <a href="/InceptionDecks/InceptionsDeck" class="btn btn-primary btn-sm" role="button">Back To Inception Deck</a>

    </div>


}
