@page
@model UserStoryBoard.Pages.Boards.CreateKanbanBoardModel
@{
    ViewData["Title"] = "CreateKanbanBoard";
}
<h1>Create Kanban Board</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.KanbanBoard.BoardName" class="control-label"> Title </label>
        <input asp-for="@Model.KanbanBoard.BoardName" class="form-control"/>
        <span asp-validation-for="@Model.KanbanBoard.BoardName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>