@page "{id:int}"
@model UserStoryBoard.Pages.Boards.DeleteKanbanBoardModel
@{
    ViewData["Title"] = "DeleteKanbanBoard";
}

<h1>Delete this board: @Model.Board.BoardName</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Board.Id" class="form-control" />
        </div>
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </form>
    <div>
        <a asp-page="SelectKanbanBoard">Back to List</a>
    </div>
</div>
