@page "{id:int}"
@model UserStoryBoard.Pages.Boards.DeleteKanbanBoardModel
@{
    ViewData["Title"] = "DeleteKanbanBoard";
}

<h1>Delete Kanban Board</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Model.Board.BoardName
            </dt>
        </dl>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div>
        <a asp-page="SelectKanbanBoard">Back to List</a>
    </div>
</div>
