@page "{id}"
@model UserStoryBoard.Pages.User.DeleteUserModel
@{
}
<h1>Delete Confirmation</h1>
<h5>Are you sure you want to delete the UserStory - @Model.user.Name</h5>
    <div>
        <img src="~/Images/@Model.user.ImageName" width="60" height="70">
    </div>
<div class="alert alert-danger">
    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="@Model.user.Id" class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">
            Yes
        </button>
        <a class="btn btn-primary" asp-page="GetUsers">
            No
        </a>
    </form>
</div>
