@page
@model UserStoryBoard.Pages.CanvasModel.CanvasModelModel
@{
    <h1>Canvas Model</h1>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                   <div class="form-group">
                       <label for="Comment">Key Partners</label>
                       <textarea class="form-control" row="6" id="comment" style="height:190px"></textarea>
                   </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="form-group">
                            <label for="Comment">Key Activities</label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                                <label for="Comment">Key Resources</label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="Comment">Value Proposition</label>
                        <textarea class="form-control" row="6" id="comment" style="height:190px"></textarea>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="row">
                        <div class="form-group">
                            <label for="Comment">Customer Relationship</label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="Comment">Channels</label>
                            <textarea class="form-control" row="6" id="comment"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="Comment">Customer Segment</label>
                        <textarea class="form-control" row="6" id="comment" style="height:190px"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="Comment">Cost Structure</label>
                        <textarea class="form-control" row="6" id="comment"></textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="Comment">Revenue Streams</label>
                        <textarea class="form-control" row="6" id="comment"></textarea>
                    </div>
                </div>
            </div>
            
            
            
            
            
            @*<div class="col-lg-2">
                <div class="row">Key Activities</div>
                <div class="row">Key Resources</div>
            </div>
            <div class="col-lg-2">Value PROPOSITION</div>
            <div class="col-lg-2">
                <div class="row">Customer Relationship</div>
                <div class="row">Channels</div>
            </div>
            <div class="col-lg-2">Customer Segment</div>
            <div class="col-lg-5">Cost Structure</div>
            <div class="col-lg-5">Revenue Streams</div>*@

        </div>
    </div>
}
