@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kanban Master 9000</h1>
    <p>Learn about <a href="casparstanley.com/">Caspar</a> lol.</p>
</div>
