@page
@model UserStoryBoard.Pages.SelectKanbanBoardModel
@{
}

<div class="list-group">
    <a class="list-group-item list-group-item-action text-light" asp-page="KanbanBoard" asp-route-id="1">Kanban Board 1</a>
    <a class="list-group-item list-group-item-action text-light" asp-page="KanbanBoard" asp-route-id="2">Kanban Board 2</a>
    <a class="list-group-item list-group-item-action text-light" asp-page="KanbanBoard" asp-route-id="3">Kanban Board 3</a>
</div>